# Name of the experiment for saving files
experiment_name: replicate_best_mult_
save_folder: /kaggle/working/results/
save_base_dir: /kaggle/working/

# Define training strategy
training_strategy:
  niter: 50 # of iter at starting learning rate. Total #epochs is niter + niter_decay'
  niter_decay: 0 # of iter to linearly decay learning rate to zero
  is_train: True
  class_weight: False
  class_weight_cityscapes: False
  image_visualization: False

# model options
model:
  architecture: vgg16 #[options: 'vgg16', 'vgg16_bn', 'vgg16_guided', 'resnet18', 'vgg16_correlated']
  semantic: True
  pretrained: True
  correlation: True
  prior: True
  spade: 'decoder' #[options: 'encoder', 'decoder', 'both', '']
  num_semantic_classes: 19 # Actual training labels
diss_pretrained:
  load: False
  experiment_name: spade_both_instance_8_final # where checkpoints are stored
  save_folder: results/ # where checkpoints are stored
  which_epoch: best

# logger options
logger:
  results_dir: /kaggle/working/logs
  save_epoch_freq: 50 #frequency of saving checkpoints at the end of epochs

# loss options (remove tasks not needed)
loss:  CrossEntropyLoss

# optimization options
optimizer:
  algorithm: Adam # ['Adam' or 'SGD']
  # Define accordingly, e.g.
  parameters:
    lr: 1.e-4 # 1.e-4
    lr_policy: ReduceLROnPlateau
    patience: 10
    factor: 0.5
    weight_decay: 0.0000
    beta1: 0.5 # momentum term of adam
    beta2: 0.999 # momentum term of adam

# parameters for dataloaders
train_dataloader:
  dataset_args:
    dataroot: /kaggle/input/cityscapes-synboost/final_dataset/cityscapes_processed
    preprocess_mode: none
    crop_size: 512
    aspect_ratio: 2
    flip: True
    normalize: True
    void: False
    light_data: False
    num_semantic_classes: 19
    is_train: True
    prior: True
  dataloader_args:
    batch_size: 4
    num_workers: 2
    shuffle: True
val_dataloader:
  dataset_args:
    dataroot: /kaggle/input/cityscapes-synboost/final_dataset/fs_lost_and_found
    preprocess_mode: none
    crop_size: 512
    aspect_ratio: 2
    flip: False
    normalize: True
    light_data: False
    num_semantic_classes: 19
    is_train: False
    prior: True
  dataloader_args:
    batch_size: 1
    num_workers: 1
    shuffle: False
test_dataloader1:
  dataset_args:
    dataroot: /kaggle/input/cityscapes-synboost/final_dataset/road_anomaly
    preprocess_mode: none
    crop_size: 512
    aspect_ratio: 2
    flip: False
    normalize: True
    light_data: False
    roi: False
    num_semantic_classes: 19
    is_train: False
    prior: True
  dataloader_args:
    batch_size: 1
    num_workers: 1
    shuffle: False
test_dataloader2:
  dataset_args:
    dataroot: /kaggle/input/cityscapes-synboost/final_dataset/fs_static
    preprocess_mode: none
    crop_size: 512
    aspect_ratio: 2
    flip: False
    normalize: True
    light_data: False
    roi: True
    num_semantic_classes: 19
    is_train: False
    prior: True
  dataloader_args:
    batch_size: 1
    num_workers: 1
    shuffle: False
test_dataloader3:
  dataset_args:
    dataroot: /kaggle/input/cityscapes-synboost/final_dataset/fs_lost_and_found
    preprocess_mode: none
    crop_size: 512
    aspect_ratio: 2
    flip: False
    normalize: True
    light_data: False
    roi: True
    num_semantic_classes: 19
    is_train: False
    prior: True
  dataloader_args:
    batch_size: 1
    num_workers: 1
    shuffle: False
test_dataloader4:
  dataset_args:
    dataroot: /kaggle/input/cityscapes-synboost/final_dataset/fs_static
    preprocess_mode: none
    crop_size: 512
    aspect_ratio: 2
    flip: False
    normalize: True
    light_data: False
    roi: False
    num_semantic_classes: 19
    is_train: False
    prior: True
  dataloader_args:
    batch_size: 1
    num_workers: 1
    shuffle: False
wandb_config:
 
  wandb_Api_key: "10989cf7d666f7d3bfcc31c6185448bda1a19767" #Wandb_API_Key (Environment Variable)
  wandb_resume: True   #Resume Training
  wandb_run_id: "9oonzgel"  #Previous Run ID for Resuming , None if starting new run
  wandb_run: "Lightning Test_2"   #Name of wandb run 
  max_epoch: 13  #number of epochs for which the model runs
  artifact_path:  "model-9oonzgel:v3"
  wandb_watch: True
  wandb_watch_freq: 50
  model_path_base: /kaggle/working/synboost/image_dissimilarity/wandb/latest-run/files/
  
